{
  "extends": ["airbnb"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-underscore-dangle": "off",
    "max-len": ["warn", 120],
    "no-console": "off",
    "function-paren-newline": "off",
    "react/jsx-closing-tag-location": "off"
  },
  "settings": {
    "import/resolver": {
      "webpack": { "config": "./config/dev.config.js" }
    },
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}