{
  "extends": ["airbnb"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react/no-unknown-property": ["error", { "ignore": ["class"] }],
    "no-underscore-dangle": "off",
    "no-trailing-spaces": "off",
    "max-len": ["warn", 120],
    "no-console": "off"
  },
  "settings": {
    "import/resolver": {
      "webpack": { "config": "./config/webpack.configs.js" }
    },
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}