{
  "extends": "react-app",
  "rules": {
    "no-duplicate-imports": "warn",
    "object-curly-spacing": ["warn", "always"],
    "comma-dangle": ["warn", "always-multiline"],
    "jsx-quotes": ["warn", "prefer-double"],
    "import/order": "warn",
    "react/jsx-no-target-blank": "error",
    "react/sort-comp": "warn",
    "react/prop-types": ["warn", { "ignore": ["className", "children"] }]
  }
}